/* global colors */
.top-navbar .nav-link {
    color: white;
}
/*
.background-button {
    color: #ffbf69ff;
} */

:root {
    /* --pane-padding: 5px 42px; */
    --black-color: #000;
    --white-color: #fff;
    --main-color: #2ec4b6ff;
    --background-button: #ffbf69ff;
    --main-color-light: #cbf3f0ff;
    --light-apricot: #ffbf69ff;
    --dark-blue: #1b4079;
    --bs-body-color: orange;

    /* background bootstrap default*/
    /* 
    $primary, blue
  "secondary":  $secondary, grey
  "success":    $success, green
  "info":       $info, light blue
  "warning":    $warning, yellow
  "danger":     $danger,
  "light":      $light, light grey
  "dark":       $dark black 
  **/

    /* --orange-peel: #ff9f1cff;
--mellow-apricot: #ffbf69ff;
--white: #ffffffff;
--light-cyan: #cbf3f0ff;
--tiffany-blue: #2ec4b6ff; */

    --purple_100: 182, 217, 255;
    /*...*/
    --purple_1000: 0, 4, 9;
    --primary_100: var(var(--purple_100));
    /*...*/
    --primary_1000: var(var(--purple_1000));
}

body {
    background-color: var(--main-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: silver;
}
.btn-primary {
    background-color: red;
}

.btn {
    font-size: 50px;
}

