/**
global
*/

.my-header {
    margin: 0;
    padding: 0;
    width: 100wh;
    height: calc(100vh - 200px);
    background-image: url("/assets/test.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.right-hero {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/**
 * Login page
 */

svg.logo {
    text-align: center;
}

.form-signin {
    margin-top: 5vh;
    width: 100%;
    max-width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

/* .form-signin input[type="email"] {
    margin-bottom: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
} */

/**
* Features on Homepage
*/

.logBtn {
    text-decoration: none;
}

/* footer */

.footer {
    background-color: #808588;
}

